/* More visible cursor */
div.CodeMirror-cursors > div.CodeMirror-cursor { border-left-width: 3px; }

/* Highlight gutter */
.cm-s-blackboard .CodeMirror-gutters { background: #181818; }
.cm-s-blackboard .CodeMirror-activeline-gutter { background: #282828; }
.cm-s-eclipse .CodeMirror-activeline-gutter { background: #D8e8f0; }

/* Math */
.cm-s-blackboard .cm-math { color: #ff9c9c }
.cm-s-eclipse .cm-math { color: #b00000 }
.CodeMirror .cm-math { font-style: normal; font-weight: normal; }

/* Spell checking */
.cm-s-blackboard .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word):not(.cm-math) {
    background: rgba(255, 0, 0, .2);
}
.cm-s-eclipse .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word):not(.cm-math) {
    background: rgba(255, 0, 0, .075);
}
