template(name="frontpage")
  h1 Welcome to Coauthor!
  if currentUser
    if groupcount
      .alert.alert-success(role="alert") Choose a <B>group</B> below to get started.
    else if ready
      .alert.alert-danger(role="alert") You do not appear to have access to any groups.  You probably need to <B>talk to someone in charge</B>.
    else
      .alert.alert-warning(role="alert") Loading...
  else
    if groupcount
      .alert.alert-warning(role="alert") Choose a <B>public group</B> below, or <B>sign in</B> (in the upper-right corner) to gain more access.
    else if ready
      .alert.alert-danger(role="alert") Please <B>sign in</B> (in the upper-right corner) to get started.
    else
      .alert.alert-warning(role="alert") Loading...
  .list-group
    each groups
      a.list-group-item(href="{{pathFor 'group' group=name}}")= name
  i #{groupcount} groups
  if canSuper
    span.space
    .btn-group
      button.btn.btn-info.groupNewButton New Group
      button.btn.btn-warning.recomputeAuthorsButton Recompute Authors
      button.btn.btn-warning.recomputeRootsButton Recompute Roots

template(name="groupNew")
  .modal
    .modal-dialog.groupNew
      .modal-content
        .modal-header
          h2 Create New Group
        .modal-body
          .alert.alert-warning <b>Warning:</b> Group creation cannot be undone.  So take care in naming!
          form
            .form-group
              label(for="groupInput") New group name:
              input.form-control(id="groupInput", placeholder="Group")
            .row
              .col-xs-6
                button.btn.btn-block.btn-warning.groupNewButton Create Group
              .col-xs-6
                button.btn.btn-block.btn-success.cancelButton Cancel
