.disabled {
  pointer-events: all !important;
}

.table > tbody > tr.messageShort > td { padding: 0px; } /* override 8px */
.table > tbody > tr.messageShort > td > a { display: block; color: black; padding: 6px 8px; }
.table > tbody > tr.messageShort:hover > td { background-color: #5cb85c; }
.table > tbody > tr.messageShort:hover > td > a { text-decoration: underline; color: white; }
.table > tbody > tr.messageShort:hover > td.subscribe { background-color: #5cb85c; }

.badge-zero { background-color: #a94442; }

/* match padding of <a> in other columns */
td.subscribe button.subscribe { margin-top: 5px; }

.table > tbody > tr.messageShort.deleted > td > a { color: #a94442; font-size: small; padding: 2px 8px; }
.table > tbody > tr.messageShort.deleted > td > button.subscribe { margin-top: 1px; }
.table > tbody > tr.messageShort.unpublished > td > a { color: #8a6d3b; font-size: small; padding: 2px 8px; }
.table > tbody > tr.messageShort.unpublished > td > button.subscribe { margin-top: 1px; }
.table > tbody > tr.messageShort.private > td > a { color: #5bc0de; }
.table > tbody > tr.messageShort.minimized > td > a { color: #449d44; /* font-size: small; padding: 2px 8px; */ }
/*
.table > tbody > tr.messageShort.minimized > td > button.subscribe { margin-top: 1px; }
*/
