// Raise all Bootstrap labels to be vertically centered with text
.label
  vertical-align: 0.1em

table.group
  > thead
    > tr
      background-color: #163754
      color: white
      > th
        padding-top: 4px  // half of normal 8px
        padding-bottom: 4px  // half of normal 8px
      &:first-child > th
        border-bottom: 0
      &:last-child > th
        border-top: 1.5px solid #337ab7
        border-bottom: 5px solid #337ab7
      &:last-child
        position: sticky
        z-index: 1
        top: -1.5px // matches border-top above
    a:not(.dropdown-item)
      color: #c7ddef
      &:focus, &:hover
        color: #98c8f2
      &.btn-warning
        color: black

.panel-heading.group-heading
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end
  gap: 0.25em
  > :first-child
    flex-grow: 1
  // cf. panel-heading padding of 5px 10px 10px 10px
  padding: 5px 5px 5px 10px

.sorts
  font-size: 90%
  vertical-align: 5%
  > .prefix
    padding-right: 0.35rem
  > .sort
    // total space between items is 1rem = 0.35 + 0.3 + 0.35
    padding: 0 0.35rem
    border-left: 0.3rem solid transparent
    &.dragging
      opacity: 0.666
    &.dropping
      border-left-color: red
  .tagSort
    font-size: 110%
  .sortRemove
    margin-left: 0.1rem
    &:hover
      color: #d9534f  // background color of .label-danger

// Clustering by tags
.table > tbody > tr.cluster
  background: #337ab7
  > td
    padding: 3px 16px 4px  // cf. standard 8px
  > td.empty
    padding: 6px
  .label
    color: black

// Message status
.table > tbody > tr.messageShort
  &.deleted > td, &.unpublished > td
    > a
      font-size: small
      padding: 2px 8px
    > button.subscribe
      margin-top: 1px
  &.deleted > td > a
    color: #a94442
    /.dark &
      color: #d9534f
  &.unpublished > td > a
    color: #8a6d3b
    /.dark &
      color: #f0ad4e
  &.private > td > a
    color: #5bc0de
  &.minimized > td > a
    color: #449d44
    /.dark &
      color: #5cb85c
  &.pinned > td > a
    color: #4a4a02
    /.dark &
      color: #feff09
  /:root:not(.dark) &.pinned
    background-color: #ffffbc

.importInput[type="file"]
  display: none

// Wrapper for disabled buttons to have tooltips
// See https://react-bootstrap.github.io/components/overlays/#overlays-disabled
span.wrapper
  display: inline-block
span.disabled
  cursor: not-allowed
  button
    pointer-events: none
