.panel-heading.group-heading
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end
  gap: 0.25em
  .title
    flex-grow: 1
  // cf. panel-heading padding of 5px 10px 10px 10px
  padding: 5px 5px 5px 10px

// Clustering by tags
.table > tbody > tr.cluster
  background: #337ab7
  > td
    padding: 2px 16px 5px  // cf. standard 8px
  > td.empty
    padding: 6px

.importInput[type="file"]
  display: none

// Wrapper for disabled buttons to have tooltips
// See https://react-bootstrap.github.io/components/overlays/#overlays-disabled
span.wrapper
  display: inline-block
span.disabled
  cursor: not-allowed
  button
    pointer-events: none
