.katex-error { color: #cc0000; border: #cc0000 thin solid; }

/*
a:hover .katex .base, a:focus .katex .base { text-decoration: underline; }
*/
.message a:hover .katex-html, a:focus .katex-html { border-bottom: solid .07em; margin-bottom: -.07em; }
