template(name="layout")
  .container-fluid
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if routeGroup
          if wildGroup
            a.navbar-brand(href="{{pathFor 'frontpage'}}") Coauthor
          else
            a.navbar-brand(href="{{pathFor 'group' group=routeGroup}}") Coauthor
        else
          a.navbar-brand(href="{{pathFor 'frontpage'}}") Coauthor
      .collapse.navbar-collapse#navbar
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")
              if groupData
                | #{routeGroup}
              else if routeGroup
                | #{routeGroup}?
              else
                i Select Group
              span.caret
            ul.dropdown-menu(role="menu")
              if groupcount
                each groups
                  li(class="{{activeGroup}}")
                    a(href="{{pathFor 'group' group=name}}") {{name}}
              else if currentUser
                li
                  a
                    i No groups available to you...
              else
                li
                  a
                    i No groups available &mdash; should you sign in?
              //-
                li.divider
                li
                  a(href="#") Request Access
        ul.nav.navbar-nav.navbar-right
          +loginButtons
        if showUsers
          ul.nav.navbar-nav.navbar-right.navbar-btn
            button.usersButton.btn.btn-warning Users
    #main.row-fluid
      +yield
