body { font-family: 'Merriweather', serif; }

.footer { position: fixed; bottom: 0px; right: 0px; width: 50%; margin: 1ex }
.credits { font-style: italic; font-size: small; margin-top: 1.5ex; padding: 6px }
