template(name='live')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        form.form-inline
          span.title.panel-title= group
          span.space
          | live update: showing last
          input(type='text', size='5', value=limit).form-control#limitInput
          | messages
      .panel-body
        if valid
          each messages
            +readMessageHeader
        else
          .alert.alert-danger(role="alert") Invalid number of last messages.
  else
    +badGroup
