.text-help
  text-decoration: dotted underline gray
  cursor: help

.danger-close
  color: #d9534f  // background color of .label-danger

.attachInput[type="file"], .replaceInput[type="file"]
  display: none

.historySlider input[type="text"]
  display: none

.onMessageDrop span:not(.fa-edit)
  pointer-events: none

// @mention / Author search highlighting

.highlight
  background: yellow
  color: black
  /.dark &
    background: hsl(60, 75%, 16%)
    color: white

// Dropdown menus

.dropdown-menu
  &.actionMenu
    min-width: 140px
    background: #d9edf7
    /.dark &
      background: #175b70
    //> li > a:hover { min-width: 100px; background: white; }
  &.replyMenu
    min-width: 215px
  &.buttonMenu
    > li > a
      padding: 2px 10px
      &:hover
        background: white

// Tags

.outer-label
  padding: 0px
  font-size: inherit  // prevent double shrinkage via 75%
.label-left
  border-top-right-radius: 0px !important
  border-bottom-right-radius: 0px !important
  // Separator color matching btn-default and darker version of btn-info:
  &.label-default
    border-right: #404040 1px solid
  &.label-info
    border-right: #2a687a 1px solid
.label-right
  border-top-left-radius: 0px !important
  border-bottom-left-radius: 0px !important
  &.label-default
    background-color: #555  // darker than #777
  &.label-info
    background-color: #72dfff
    //background-color: #40aaca
tr.messageShort:hover .label.label-default:hover
  color: inherit  // prevent highlighting tag in highlighted message of group

// Magic to get the entire tag to highlight when hovering over child:
// http://stackoverflow.com/questions/8114657/how-to-style-the-parent-element-when-hovering-a-child-element#30104683
.tagWithRemove
  pointer-events: none
.tagRemove
  opacity: 0.7
.tagRemove, .tagWithValue .label
  pointer-events: auto
.tagWithRemove:hover, .tagLink span.label:hover, .dropdown-toggle.outer-label:hover span.label, .dropdown-toggle.label:not(.outer-label):hover
  cursor: pointer
  color: #333
  background: #e6e6e6  // matching .btn-default:hover

.dropdown-menu.tagMenu
  width: 250px
  > li.disabled > a
    cursor: auto
    padding: 0px 5px  // normally 3px 20px
  > li > a
    font-size: 75%  // matches label

.tagNew form
  display: flex
  .tagKey
    flex: 1
  .tagVal
    flex: 0.5
    max-width: 25%
    &:focus
      max-width: inherit
      flex: 2
  .input-group-btn
    font-size: inherit
    width: auto

// Emoji dropdown menu

.emojiMenu
  padding: 5px // normally 5px 0
  width: max-content
  min-width: auto
  max-width: 300px
  > li
    display: inline-block
    > a
      display: inline-block
      font-size: large
      padding: 8px 8px  // normally 3px 20px
.open > .emojiMenu.dropdown-menu
  display: table

// Emoji

.emoji-plus
  font-size: 0.7em
  margin-top: -2px
  vertical-align: middle
.emoji-face
  margin-top: -2px
  vertical-align: middle
.positive
  color: #3d98e5
.neutral
  color: #8465b3
.negative
  color: #d9534f
.dark .positive
  color: #6bade5
.dark .neutral
  color: #ad76fe
.dark .negative
  color: #ff7a75

bootstrap-3-button(bg-color) // based on mixins/buttons.less
  background-color: bg-color
  &:focus, &.focus, &:hover
    background-color: darken(bg-color, 10%) // normally 10%
  &:active, &.active
    background-color: darken(bg-color, 10%) // normally 10%
    &:focus, &.focus, &:hover
      background-color: darken(bg-color, 17%) // normally 17%
.my-emoji
	bootstrap-3-button hsl(60, 80%, 70%)
.dark .my-emoji
  bootstrap-3-button hsl(60, 100%, 20%)

// History

.historySlider
	margin-left: 25px // 15px to match panel + 10px for tick radius
	margin-right: 25px
	margin-top: 5px
	margin-bottom: 15px // avoid overlap between tooltip and content
	.slider.slider-horizontal
		width: 100%

// BelowEditor

.below-editor-alert
  padding: 6px 15px
  margin-bottom: 0px
  // To allow Coauthors alert's <input> to bleed into 6px top/bottom padding,
  // simulate it with an upper strut at the beginning.  (The lower strut is
  // simulated by the <input> itself.)
  &.coauthors-alert
    padding-top: 0px
    padding-bottom: 0px
    .upper-strut
      display: inline-block
      padding-top: 6px
    //.lower-strut
    //  display: inline-block
    //  padding-bottom: 6px
    input // override .form-control
      display: inline-block
      width: auto
    .rbt
      display: inline-block

// TableOfContents

.toc-toggle
  margin-top: -19.39px  // rendered height, putting exactly into margin

.indicator
  position: absolute
  left: 0
  width: calc(100% - 15px)  // 15px from right padding of .col-xs-3 parent
  height: 8px
  border: 4px solid transparent
  z-index: 2000  // above 1020 from .sticky-top
  &.top
    top: 0
    &.active
      border-top-color: #f0f
  &.bottom
    bottom: 0
    &.active
      border-bottom-color: #f0f

nav.contents
  padding-bottom: 5px
  height: 100%  // match parent height set in JavaScript
  overflow-y: auto
  font-size: small

  li > a
    padding: 2px 5px 2px 2px
    margin: 2px 0px 2px -2px
    overflow-wrap: break-word

    .author
      font-size: smaller
      font-style: italic

    // Push subtrees closer to parent
    + .subcontents
      margin-top: -2px

    /*
    &.deleted, &.unpublished, &.minimized
      font-size: x-small
      padding-block: 2px
    */

    /.dark &
      color: #eee
    &.deleted
      color: #a94442
      /.dark &
        color: #d9534f
    &.unpublished
      color: #8a6d3b
      /.dark &
        color: #f0ad4e
    &.private
      color: #5bc0de
    &.minimized
      color: #449d44
      /.dark &
        color: #5cb85c
    &.pinned
      color: #4a4a02
      /.dark &
        color: #feff09

  li.folded
    a
      font-size: x-small
      /*
      + .subcontents
        margin-top: -1px
      */
    li > a
      opacity: 0.7

  // Highlight TOC entries for partially or fully visible messages.
  // Purples based on #563d7c from Bootstrap docs
  a.active:not(:hover)
    background: #d1c5e2
    /.dark &
      background: #3c245e
    &.partial
      background: #ebe2f8
      /.dark &
        background: #241835
  // Hovering over corresponding message overrides color from visibility
  // to a hue of 300
  a.hover
    background: #f8bff8 !important
    /.dark &
      background: #5c1d5c !important

.subcontents
  border-left: solid 2px #8465b3
  border-bottom-left-radius: 5px
  padding-left: 5px

  &.hover
    cursor: pointer
    border-left: solid 3px #6a3dad
    /.dark &
      border-left-color: #a37dde
    padding-left: 4px

  /*
  > li:last-child > a
    padding-bottom: 0px
  */

.foldedContents
  padding-bottom: 2px
  margin-top: -2px
  margin-bottom: 2px
  &:hover
    cursor: pointer
    .line
      border-left: solid 3px #6a3dad
      border-bottom: solid 3px #6a3dad
      /.dark &
        border-left-color: #a37dde
        border-bottom-color: #a37dde
  .line
    border-bottom: solid 2px #8465b3
    border-left: solid 2px #8465b3
    border-bottom-left-radius: 5px
    height: 4px

// Messages

.message.hover
  background: #fad6fa
  /.dark &
    background: #2b0d2b
  border-color: #f0f
  > .panel-heading
    border-color: #f0f

// Message body

.message-body
  label  // in list-item checkboxes
    margin: 0

// Fancy list labels.
.message-body
  // LaTeX-like nested <ol>
  ol
    counter-reset: enum
    > li
      list-style: none
      counter-increment: enum
    > li::before
      content: counter(enum) "."
    ol
      > li::before
        content: "(" counter(enum, lower-alpha) ")"
      ol
        > li::before
          content: counter(enum, lower-roman) "."
        ol
          > li::before
            content: "(" counter(enum, upper-alpha) ")"
          ol
            > li::before
              content: counter(enum, upper-roman) "."
            ol
              > li::before
                content: counter(enum, lower-greek) "."
              ol
                > li::before
                  content: counter(enum) "."
  // Custom item labels.
  :not(ol.task-list) > li.noitemlab::before
    content: none
  ul > li.noitemlab
    list-style: none
  // Data approach didn't support e.g. math:
  //.message-body ol > li[data-itemlab]::before { content: attr(data-itemlab) }
  // 40px is ol's default left padding on most browsers; fill that size
  ol > li::before, .itemlab
    position: relative
    display: inline-block
    vertical-align: baseline
    width: 40px
    margin-left: -40px
    text-align: right
    padding-right: 0.25em
  // Switch first paragraph within an item to inline-block, so that it stacks
  // next to (instead of on top of) item label's inline-block.
  li > p:first-child, li.noitemlab > p:nth-child(2)
    display: inline-block
    width: 100%
    vertical-align: top
  // markdown-it-task-checkbox
  input[type="checkbox"]
    margin-top: 0
    margin-right: 2px
    vertical-align: -2px
  // Support numbered list items with checkbox labels
  // (Above, the `content: none` rule is already excluded.)
  ol.task-list > li.task-list-item > .itemlab
    margin-left: 0
    width: auto

.katex-display
  overflow-x: auto
  overflow-y: hidden  // work around slight extra height
  // Work around slight extra width: allow extending into panel border
  padding-right: 15px
  margin-right: -15px

// Equation numbering
.message-body, .message-title
  counter-reset: katexEqnNo mmlEqnNo

// PDF documents

.pdf.dark
  filter: invert(1) hue-rotate(180deg)

// MessageInfoBoxes

ul.pinned
  list-style-type: none
  padding-left: 15px
