.open > .imageMenu
  display: table-row
.imageMenu
  width: 300px
  padding: 0px
  > li
    display: table-cell
    vertical-align: bottom
    overflow: auto
    > a
      padding: 10px
      text-align: center
