.text-help
  text-decoration: dotted underline gray
  cursor: help

.danger-close
  color: #d9534f  // background color of .label-danger

.attachInput[type="file"], .replaceInput[type="file"]
  display: none

.historySlider input[type="text"]
  display: none

.onMessageDrop span
  pointer-events: none

// tag input

.tagAddText
  width: 50% !important

// @mention / Author search highlighting

.highlight
  background: yellow
  color: black
  /.dark &
    background: hsl(60, 75%, 16%)
    color: white

// Dropdown menus

.dropdown-menu.actionMenu
  min-width: 120px
  background: #d9edf7
  /.dark &
    background: #175b70
  > li > a
    padding: 2px 10px
    &:hover
      background: white

//.dropdown-menu.actionMenu > li > a:hover { min-width: 100px; background: white; }

// Emoji dropdown menu

.emojiMenu
  padding: 5px // normally 5px 0
  width: max-content
  min-width: auto
  max-width: 300px
  > li
    display: inline-block
    > a
      display: inline-block
      font-size: large
      padding: 8px 8px  // normally 3px 20px
.open > .emojiMenu.dropdown-menu
  display: table

// Emoji

.emoji-plus
  font-size: 0.7em
  margin-top: -2px
  vertical-align: middle
.emoji-face
  margin-top: -2px
  vertical-align: middle
.positive
  color: #3d98e5
.neutral
  color: #8465b3
.negative
  color: #d9534f
.dark .positive
  color: #6bade5
.dark .neutral
  color: #ad76fe
.dark .negative
  color: #ff7a75

bootstrap-3-button(bg-color) // based on mixins/buttons.less
  background-color: bg-color
  &:focus, &.focus, &:hover
    background-color: darken(bg-color, 10%) // normally 10%
  &:active, &.active
    background-color: darken(bg-color, 10%) // normally 10%
    &:focus, &.focus, &:hover
      background-color: darken(bg-color, 17%) // normally 17%
.my-emoji
	bootstrap-3-button hsl(60, 80%, 70%)
.dark .my-emoji
  bootstrap-3-button hsl(60, 100%, 20%)

// History

.historySlider
	margin-left: 25px // 15px to match panel + 10px for tick radius
	margin-right: 25px
	margin-top: 5px
	margin-bottom: 15px // avoid overlap between tooltip and content
	.slider.slider-horizontal
		width: 100%

// BelowEditor

.below-editor-alert
  padding: 6px 15px
  margin-bottom: 0px
  // To allow Coauthors alert's <input> to bleed into 6px top/bottom padding,
  // simulate it with an upper strut at the beginning.  (The lower strut is
  // simulated by the <input> itself.)
  &.coauthors-alert
    padding-top: 0px
    padding-bottom: 0px
    .upper-strut
      display: inline-block
      padding-top: 6px
    //.lower-strut
    //  display: inline-block
    //  padding-bottom: 6px
    input // override .form-control
      display: inline-block
      width: auto
    .rbt
      display: inline-block

// TableOfContents

.toc-toggle
  margin-top: -19.39px  // rendered height, putting exactly into margin

nav.contents
  padding-bottom: 5px
  height: 100%  // match parent height set in JavaScript
  overflow-y: auto
