template(name="messageImage")
  .btn-group.messageImage
    button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", tabindex=tabindex)
      | Image
      span.caret
    ul.dropdown-menu.imageMenu(role="menu")
      li
        a.disabled.form-inline.form-sm
          label(for="rotateAngle") Rotate:
          span.space
          input.form-control.rotateAngle#rotateAngle(type="text", size="4", value=rotate)
          | &deg;
      li
        a.disabled.btn-group.btn-group-sm
          button.btn.btn-default.rotateCW90
            span.fas.fa-redo
            | 90&deg;
          button.btn.btn-default.rotateZero
            span.far.fa-image
            | 0&deg;
          button.btn.btn-default.rotateCCW90
            span.fas.fa-undo
            | 90&deg;
      li
        a.disabled
          .rotateSlider
      li.divider(role="separator")
      li
        a
          button.btn.btn-default(class=changedClass) Save changes
