.attachInput[type="file"], .replaceInput[type="file"]
  display: none

.historySlider input[type="text"]
  display: none

.onMessageDrop span
  pointer-events: none

// Dropdown menus

.dropdown-menu.actionMenu
  min-width: 120px
  background: #d9edf7
  /.dark &
    background: #175b70
  > li > a
    padding: 2px 10px
    &:hover
      background: white

//.dropdown-menu.actionMenu > li > a:hover { min-width: 100px; background: white; }