.space { padding-left: 0.5em; }
.absolute { position: absolute; }

.fa-paperclip { vertical-align: middle; }
.title { font-weight: bold; }
input.title { width: calc(100% + 5px); margin: 0px -5px 0px 0px; }
.author { font-style: italic; }
.message-body { text-align: justify; }
.message-body, .message-title { position: relative; overflow: auto; overflow-wrap: break-word; contain: layout paint style; }
  /* We set `position: relative` so any position: absolute's within have
   * this as the containing block. We set `overflow: auto` to prevent hacks
   * that render outside the rectangle of this message; also, it handles
   * too-wide formulas in a nicer way.
   */
.katex .katex-mathml { left: 0; }
  /* avoid pushing into right margin, given `position: absolute` layout */
.katex .vlist-t2 { margin-right: -0.1px; }
.katex .vlist-s { width: 0.1px; min-width: 0.1px; }
  /* avoid vlists from pushing into right margin and causing scroll bars;
   * KaTeX uses 2px for these two numbers instead
   */
.message-footer { width: 100%; padding: 0ex 1em; }
.panel-body { padding-bottom: 0px; } /* always have a footer right below */
.message-deleted > .message-body, .message-unpublished > .message-body { opacity: 0.6; }
/* .push-down (e.g. .message-left-buttons) push the title down to compensate
 * for the missing 5px top-padding of .panel-heading (needed to get the
 * .message-right-buttons to be higher than the title, without using negative
 * spacing, which would mess up multiline titles).
 */
.push-down { margin-top: 5px; vertical-align: -5px; }
.panel-heading form .push-down, .search > .panel-heading > .pull-right.push-down { margin-top: 8px; }
.message-right-buttons, .group-right-buttons { margin: 0px -5px -5px 0px; } /* cf. panel-heading's padding of 10px */
.panel-heading { padding: 5px 10px 10px 10px; } /* normally 10px 15px */
.panel-heading.compact { padding: 0px 5px 5px 10px; }
/* Fuse together root panel heading with following panel */
.root, .root > .panel-heading { border-bottom: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.root + .panel, .root + .panel > .panel-heading { border-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.panel-secondbody > .message-title { display: inline; color: gray; }
.panel-secondbody > .message-title > .panel-title { font-weight: normal; font-size: small; }
.linkToTop { margin-top: -4px; }
.message-title .label { vertical-align: 2px; } /* shift up to center */
.message-subtitle { margin-top: 5px; }
.upper-strut { display: inline-block; height: 20px; vertical-align: 0px; }
.lower-strut { display: inline-block; vertical-align: -10px; }
.messageTags > a:first-child, .messageLabels > span:first-child { margin-left: 0.5em; }
.btn.label { float: none; height: 20px; } /* +Tag manual height adjustment */
/* input.title ~ .message-right-buttons { margin: 0px; } */
.message-response-buttons { margin: 8px 0px 10px 0px; }
.message-reply-buttons { margin-left: 4px; }
.fileDescription { padding: 0.5ex 0.5em; border-bottom: 1px solid #337ab7;
  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center; }
.fileDescriptionText { flex-grow: 1; }

/* White background for uploaded images or embedded SVG, in case of
 * transparency + dark theme.  But don't touch KaTeX's SVG! (e.g. \sqrt)
 */
.message-body img, .message-body svg, .message-file img { background: white; }
.message-body .katex svg { background: inherit; }

/* LaTeX-like nested <ol> */
.message-body ol { counter-reset: enum; }
.message-body ol > li { list-style: none; counter-increment: enum; }
.message-body ol ol ol ol ol ol ol > li::before { content: counter(enum) "." }
.message-body ol ol ol ol ol ol > li::before { content: counter(enum, lower-greek) "." }
.message-body ol ol ol ol ol > li::before { content: counter(enum, upper-roman) "." }
.message-body ol ol ol ol > li::before { content: "(" counter(enum, upper-alpha) ")" }
.message-body ol ol ol > li::before { content: counter(enum, lower-roman) "." }
.message-body ol ol > li::before { content: "(" counter(enum, lower-alpha) ")" }
.message-body ol > li::before { content: counter(enum) "." }
/* Custom item labels. Data approach didn't support e.g. math: */
/*.message-body ol > li[data-itemlab]::before { content: attr(data-itemlab) }*/
.message-body li.noitemlab::before { content: none }
.message-body ul > li.noitemlab { list-style: none }
/* 40px is ol's default left padding on most browsers; fill that size */
.message-body ol > li::before, .itemlab {
  position: relative; display: inline-block; vertical-align: baseline;
  width: 40px; margin-left: -40px; text-align: right; padding-right: 0.25em; }
/* Switch first paragraph within an item to inline-block, so that it stacks
 * next to (instead of on top of) item label's inline-block.
 */
.message-body li > p:first-child, .message-body li.noitemlab > p:nth-child(2) {
  display: inline-block; width: 100%; vertical-align: top; }
/* markdown-it-task-checkbox */
.message-body input[type="checkbox"] { margin-top: 0; margin-right: 2px; vertical-align: -2px; }

/* Emoji */
.emoji-plus { font-size: 0.7em; margin-top: -2px; vertical-align: middle; }
.emoji-face { margin-top: -2px; vertical-align: middle; }
.positive { color: #3d98e5; }
.neutral { color: #8465b3; }
.negative { color: #d9534f; }
.dark .positive { color: #6bade5; }
.dark .neutral { color: #ad76fe; }
.dark .negative { color: #ff7a75; }
.emojiMenu { padding: 5px; /* normally 5px 0 */
             width: max-content; min-width: auto; max-width: 300px; }
.open > .emojiMenu.dropdown-menu { display: table; }
.emojiMenu > li { display: inline-block; }
.emojiMenu > li > a { display: inline-block; font-size: large;
  padding: 8px 8px; /* normally 3px 20px */ }

.sideBySide { display: flex; align-items: stretch; }
.sideBySide .editorContainer { flex: 1 1; width: 50%; margin: 0px; display: inline-block; }
.sideBySide .bodyContainer { flex: 1 1; overflow: scroll; }
.resizer { user-select: none; cursor: row-resize;
  border-top: ridge 3px #337ab7; }
.resizer:hover, .resizer.active { border-top-color: #286090; } /* link highlight color */
.dark .resizer:hover, .dark .resizer.active { border-top-color: #c7ddef; }

.children { margin-left: 1em; }

/* Magic to get the entire tag to highlight when hovering over child:
 * http://stackoverflow.com/questions/8114657/how-to-style-the-parent-element-when-hovering-a-child-element#30104683
 */
.tagWithRemove { pointer-events: none; }
.tagRemove { opacity: 0.7; pointer-events: auto; }
.tagWithRemove:hover, .tagLink span:hover { opacity: 1; cursor: pointer;
  color: #333; background: #e6e6e6; } /* matching .btn-default:hover */

.dropdown-menu.tagMenu { width: 250px; }
.dropdown-menu.tagMenu > li.disabled > a {
  cursor: auto; padding: 0px 5px; } /* normally 3px 20px */
.dropdown-menu.tagMenu > li > a { font-size: 75%; } /* matches label */

.dropdown-menu.actionMenu { min-width: 100px; }
.dropdown-menu.actionMenu { background: #d9edf7; }
.dark .dropdown-menu.actionMenu { background: #175b70; }
.dropdown-menu.actionMenu > li > a { padding: 2px 10px; }
.dropdown-menu.actionMenu > li > a:hover { min-width: 100px; background: white; }

img, video { max-width: 100%; max-height: 100vh; }
img { image-orientation: none; } /* we do manual EXIF rotation */
.pdfBox { width: 100%; }
.pdf > svg { width: 100%; height: auto; }
.pdf > canvas { position: absolute; }

.historySlider { margin-left: 25px; margin-right: 25px; margin-top: 5px; }
  /* 15px to match panel + 10px for tick radius */
.slider.slider-horizontal { width: 100%; }

.panel-secondbody { margin-top: -10px; padding-top: 0px; padding-bottom: 10px; }

.save-alert { padding: 6px 15px; margin-left: 1px; margin-bottom: 0px; }

nav.contents { overflow-y: scroll; padding-bottom: 5px; }
.contents > li > a { padding: 5px 5px; }
.subcontents > li > a { font-size: small; padding: 5px 10px; }
/* Purples based on #563d7c from Bootstrap docs */
.subcontents { border-left: solid 2px #8465b3; padding-left: 3px; }
.dark .contents li > a { color: #eee; }
.contents li.active > a { background: #d1c5e2; }
.dark .contents li.active > a { background: #3c245e; }
.contents li > a.deleted, .contents li > a.unpublished, .contents li > a.minimized { font-size: x-small; padding: 2px 10px; }
.contents li > a.deleted { color: #a94442; }
.contents li > a.unpublished { color: #8a6d3b; }
.contents li > a.private { color: #5bc0de; }
.contents li > a.minimized { color: #449d44; }
.dark .contents li > a.deleted { color: #d9534f; }
.dark .contents li > a.unpublished { color: #f0ad4e; }
.dark .contents li > a.minimized { color: #5cb85c; }
.contents li.folded li > a { opacity: 0.7; }
.affix { top: 0px; }

code.raw, pre { white-space: pre-wrap; }
/* match <pre>, overriding Bootstrap code defaults */
code { font-size: 100%; }
code { color: inherit; background-color: rgba(200,200,200,0.3); }
.dark code { background-color: rgba(62,62,62,0.5); }
pre code { background-color: inherit !important; }

s .katex .base, del .katex .base { position: relative; } /* already in KaTeX */
s .katex .base:after, del .katex .base:after { content: "";
  position: absolute; left: 0; width: 100%; top: 50%; display: block;
  height: 1.3px; background: #c7254e; }
s, del { text-decoration-color: #c7254e; }
s a, del a { text-decoration-color: #c7254e; }

.root { margin-bottom: 0px; } /* glom onto message below */

.beforeMessageDrop { position: absolute; left: 0px; top: -1ex; width: 100%; height: 2ex; }
.beforeMessageDrop.dragover { z-index: 1;
  background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }
.onMessageDrop.dragover { background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }

.messageParentDialog .modal-body > .row:first-child { margin-bottom: 1.5ex; }
.messageParentDialog .modal-body > .row:first-child > .col-xs-6:first-child { padding-top: 0.75ex; }
.messageParentDialog .modal-body > .row:first-child > .col-xs-6:last-child { padding-right: 30px; }
.messageParentDialog .modal-content { max-height: 90vh; }
/* Workaround for https://bugs.chromium.org/p/chromium/issues/detail?id=958802
 * (in addition to removing .flexColumn from .modal-content) */
.messageParentDialog .modal-body { max-height: calc(90vh - 159px); } /* 159px is the measured height of header and footer */
.messageParentDialog .tt-menu .id { font-size: x-small; }
.messageParentDialog .tt-menu .author { font-size: medium; }
.messageParentDialog .panel { border-bottom: 0; }
.messageParentDialog .modal-footer { text-align: left; }
.messageParentDialog .fa-lightbulb { font-size: x-large; margin-right: 0.5em; }
.flexColumn { display: flex; flex-direction: column; }
.flexRow { display: flex; flex-direction: row; }
.flexGrow { flex-grow: 1; }
.flexShrink { min-height: 50px; } /* allow equal-size shrinking height down to 50px */
.flexNoShrink { flex-shrink: 0; }
.flexCenter { align-items: center; }
.scrollbars { overflow: auto; float: none; max-height: 100%; }
.parentArrow { text-align: center; }
.parentArrow div { vertical-align: top; display: inline-block; }
.parentArrow1 { border-left: red dotted 2px; border-bottom: red dotted 2px; height: 14px; width: 15%; }
.parentArrow2 { margin-top: 12px; border-top: red dotted 2px; height: 14px; width: 15%; }
.parentArrow3 { margin-top: 12px; border-top: solid 2px; border-left: solid 2px; height: 14px; width: 15%; }
.parentArrow4 { border-right: solid 2px; border-bottom: solid 2px; height: 14px; width: 15%; }
.parentArrow .fas { margin-top: 5px; }
.parentArrow .fa-times { color: red; }

@media print { /* override Bootstrap defaults for link printing */
  a[href].btn:after { content: ""; }
  a[href].author:after { content: ""; }
  a[href].tagLink:after { content: ""; }
}

/* Based on Github's .markdown-body styling e.g.
 * https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables
 * Plus some special formatting for thead.
 * Also return text-align to left to counteract .message-body's
 * text-align: justify
 */
.message-body table { margin-bottom: 16px; text-align: left; }
.message-body table td, .message-body table th { padding: 6px 13px; border: 1px solid #ddd }
.message-body table tr { background-color: #fff; }
.message-body table tr:nth-child(2n) { background-color: #f8f8f8; }
.message-body table thead tr { background-color: #ccc; }
.dark .message-body table td, .dark .message-body table th { border: 1px solid #444 }
.dark .message-body table tr { background-color: #000; }
.dark .message-body table tr:nth-child(2n) { background-color: #222; }
.dark .message-body table thead tr { background-color: #555; }

blockquote { padding: 5px 10px; }
blockquote.thm { font-size: 17.5px; padding: 10px 20px; }

em em { font-style: normal }
em em em { font-style: italic }
em em em em { font-style: normal }
em em em em em { font-style: italic }
em em em em em em { font-style: normal }

/* Treat <details><summary>...</summary>...</details> roughly like
 * <div class="panel panel-default"><div class="panel-heading
 * compact">...</div>...</div>
 */
details {
  padding: 0 10px 10px 10px;
  /* From .panel */
  margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  /* From .panel-default */
  border-color: #ddd;
}
.dark details { border-color: #222; }
summary {
  /* From .panel-heading */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px; border-top-right-radius: 3px;
  /* From .panel-heading.compact */
  padding: 5px;
  /* From .panel-default > .panel-heading */
  border-color: #ddd; background-color: #f5f5f5; color: #333;
}
.dark summary { border-color: #222; background-color: #222; color: #eee; }
details > summary {
  list-style: none;
  touch-action: manipulation; cursor: pointer;
  margin: 0 -10px;
}
details:not([open]) > summary { margin-bottom: -10px }
details[open] > summary { margin-bottom: 10px }
details > summary::-webkit-details-marker { display: none; } /* Chrome */
details > summary::before {
  margin-right: 0.5em; /* like .space */
  /* From .fas */
  font-weight: 900; font-family: "Font Awesome 5 Free";
  /* Tweaked from .btn-group-xs > .btn */
  padding: 0px 3px; font-size: 12px; border-radius: 3px;
  /* From .btn-default */
  color: #333; background-color: #fff; border: 1px solid #ccc;
  /* From .btn */
  display: inline-block; margin-bottom: 0; text-align: center;
  white-space: nowrap; vertical-align: middle; background-image: none;
}
.dark details > summary::before { color: #eee; background-color: #4d4d4d; border-color: #404040; }
details > summary:hover::before, details > summary:active::before, details > summary:focus::before { background-color: #e6e6e6; border-color: #adadad; }
.dark details > summary:hover::before, .dark details > summary:active::before, .dark details > summary:focus::before { background-color: #333; border-color: #212121; }
details > summary:active:hover::before, details > summary:active:focus::before { background-color: #d4d4d4; border-color: #8c8c8c; }
.dark details > summary:active:hover::before, .dark details > summary:active:focus::before { background-color: #212121; border-color: #000; }
details > summary:focus::before { outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }
details:focus, summary:focus { outline: none; }
details > summary::before { content: "\f067"; }       /* From .fa-plus */
details[open] > summary::before { content: "\f068"; } /* From .fa-minus */

/* Author search highlighting */
.highlight { background: yellow; color: black; }

/* Search results: 5px to match title + 2px to center vertically */
.panel-heading .pull-right.badge { padding-top: 2px; }
