.space { padding-left: 0.5em; }
.absolute { position: absolute; }

.fa-paperclip { vertical-align: middle; }
.title { font-weight: bold; vertical-align: middle; }
input.title { width: 100%; }
.author { font-style: italic; }
.message-body { text-align: justify; position: relative; overflow: auto; }
  /* We set `position: relative` so any position: absolute's within have
   * this as the containing block. We set `overflow: auto` to prevent hacks
   * that render outside the rectangle of this message; also, it handles
   * too-wide formulas in a nicer way.
   */
.message-footer { width: 100%; padding: 0ex 1em; }
.panel-body { padding-bottom: 0px; } /* always have a footer right below */
.message-deleted > .message-body, .message-unpublished > .message-body { opacity: 0.6; }
/*.message-right-buttons { margin: -5px -10px -5px 5px; }*/ /* cf. panel-heading's padding of 10px 15px */
.message > .panel-heading { padding: 5px 5px 5px 10px; }
.root > .panel-heading { padding: 5px 5px 5px 10px; border-bottom: 0px; }
.messageTitle { display: inline-block; padding: 5px 5px 5px 0px; }
.panel-secondbody > .messageTitle { display: inline; color: gray; }
.panel-secondbody > .messageTitle > .panel-title { font-weight: normal; font-size: small; }
.linkToTop { margin-top: -4px; }
.messageTags > a:first-child, .messageLabels > span:first-child { margin-left: 0.5em; }
input.title ~ .message-right-buttons { margin: 0px; }
.message-reply-buttons { margin: 8px 0px 10px 0px; }
.fileDescription { padding: 0.5ex 0.5em; border-bottom: 1px solid #337ab7;
  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center; }
.fileDescriptionText { flex-grow: 1; }

/* White background for uploaded images or embedded SVG, in case of
 * transparency + dark theme.  But don't touch KaTeX's SVG! (e.g. \sqrt)
 */
.message-body img, .message-body svg, .message-file img { background: white; }
.message-body .katex svg { background: inherit; }

/* LaTeX-like nested <ol> */
.message-body ol { counter-reset: enum; }
.message-body ol > li { list-style: none; counter-increment: enum; }
.message-body ol ol ol ol ol ol ol > li::before { content: counter(enum) "." }
.message-body ol ol ol ol ol ol > li::before { content: counter(enum, lower-greek) "." }
.message-body ol ol ol ol ol > li::before { content: counter(enum, upper-roman) "." }
.message-body ol ol ol ol > li::before { content: "(" counter(enum, upper-alpha) ")" }
.message-body ol ol ol > li::before { content: counter(enum, lower-roman) "." }
.message-body ol ol > li::before { content: "(" counter(enum, lower-alpha) ")" }
.message-body ol > li::before { content: counter(enum) "." }
/* Custom item labels. Data approach didn't support e.g. math: */
/*.message-body ol > li[data-itemlab]::before { content: attr(data-itemlab) }*/
.message-body li.noitemlab::before { content: none }
.message-body ul > li.noitemlab { list-style: none }
/* 40px is ol's default left padding on most browsers; fill that size */
.message-body ol > li::before, .itemlab {
  position: relative; display: inline-block; vertical-align: baseline;
  width: 40px; margin-left: -40px; text-align: right; padding-right: 0.25em; }
/* Switch first paragraph within an item to inline-block, so that it stacks
 * next to (instead of on top of) item label's inline-block.
 */
.message-body li > p:first-child, .message-body li.noitemlab > p:nth-child(2) {
  display: inline-block; width: 100%; vertical-align: top; }

/* Emoji */
.emoji-plus { font-size: 0.7em; margin-top: -2px; vertical-align: middle; }
.emoji-face { margin-top: -2px; vertical-align: middle; }
.positive { color: #3d98e5; }
.neutral { color: #8465b3; }
.negative { color: #d9534f; }
.dark .positive { color: #6bade5; }
.dark .neutral { color: #ad76fe; }
.dark .negative { color: #ff7a75; }
.emojiMenu { padding: 5px; /* normally 5px 0 */
             width: max-content; min-width: auto; max-width: 300px; }
.open > .emojiMenu.dropdown-menu { display: table; }
.emojiMenu > li { display: inline-block; }
.emojiMenu > li > a { display: inline-block; font-size: large;
  padding: 8px 8px; /* normally 3px 20px */ }

.sideBySide { display: flex; align-items: stretch; }
.sideBySide .editorContainer { flex: 1 1; width: 50%; margin: 0px; display: inline-block; }
.sideBySide .bodyContainer { flex: 1 1; overflow: scroll; }
.resizer { user-select: none; cursor: row-resize;
  border-top: ridge 3px #337ab7; }
.resizer:hover, .resizer.active { border-top-color: #286090; } /* link highlight color */
.dark .resizer:hover, .dark .resizer.active { border-top-color: #c7ddef; }

.children { margin-left: 1em; }

/* Magic to get the entire tag to highlight when hovering over child:
 * http://stackoverflow.com/questions/8114657/how-to-style-the-parent-element-when-hovering-a-child-element#30104683
 */
.tagWithRemove { pointer-events: none; }
.tagRemove { opacity: 0.7; pointer-events: auto; }
.tagWithRemove:hover, .tagLink span:hover { opacity: 1; cursor: pointer;
  color: #333; background: #e6e6e6; } /* matching .btn-default:hover */

.dropdown-menu.tagMenu { width: 250px; }
.dropdown-menu.tagMenu > li.disabled > a {
  cursor: auto; padding: 0px 5px; } /* normally 3px 20px */
.dropdown-menu.tagMenu > li > a { font-size: 75%; } /* matches label */

.dropdown-menu.actionMenu { min-width: 100px; }
.dropdown-menu.actionMenu { background: #d9edf7; }
.dark .dropdown-menu.actionMenu { background: #175b70; }
.dropdown-menu.actionMenu > li > a { padding: 2px 10px; }
.dropdown-menu.actionMenu > li > a:hover { min-width: 100px; background: white; }

img, video { max-width: 100%; max-height: 100vh; }
.pdfBox { width: 100%; }
.pdf > svg { width: 100%; height: auto; }
.pdf > canvas { position: absolute; }

.historySlider { margin-left: 25px; margin-right: 25px; margin-top: 5px; }
  /* 15px to match panel + 10px for tick radius */
.slider.slider-horizontal { width: 100%; }

.panel-secondbody { margin-top: -10px; padding-top: 0px; padding-bottom: 10px; }

.save-alert { padding: 6px 15px; margin-left: 1px; margin-bottom: 0px; }

nav.contents { overflow-y: scroll; padding-bottom: 5px; }
.contents > li > a { padding: 5px 5px; }
.subcontents > li > a { font-size: small; padding: 5px 10px; }
/* Purples based on #563d7c from Bootstrap docs */
.subcontents { border-left: solid 2px #8465b3; padding-left: 3px; }
.dark .contents li > a { color: #eee; }
.contents li.active > a { background: #d1c5e2; }
.dark .contents li.active > a { background: #3c245e; }
.contents li > a.deleted, .contents li > a.unpublished, .contents li > a.minimized { font-size: x-small; padding: 2px 10px; }
.contents li > a.deleted { color: #a94442; }
.contents li > a.unpublished { color: #8a6d3b; }
.contents li > a.private { color: #5bc0de; }
.contents li > a.minimized { color: #449d44; }
.dark .contents li > a.deleted { color: #d9534f; }
.dark .contents li > a.unpublished { color: #f0ad4e; }
.dark .contents li > a.minimized { color: #5cb85c; }
.contents li.folded li > a { opacity: 0.7; }
.affix { top: 0px; }

code.raw, pre { white-space: pre-wrap; }
/* match <pre>, overriding Bootstrap code defaults */
code { font-size: 100%; }
code { color: #333; background-color: #f5f5f5; }
.dark code { color: #eee; background-color: #222; }
s .katex .base, del .katex .base { position: relative; } /* already in KaTeX */
s .katex .base:after, del .katex .base:after { content: "";
  position: absolute; left: 0; width: 100%; top: 50%; display: block;
  height: 1.3px; background: #c7254e; }
s, del { text-decoration-color: #c7254e; }
s a, del a { text-decoration-color: #c7254e; }

.root { margin-bottom: 0px; } /* glom onto message below */

.beforeMessageDrop { position: absolute; left: 0px; top: -1ex; width: 100%; height: 2ex; }
.beforeMessageDrop.dragover { z-index: 1;
  background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }
.onMessageDrop.dragover { background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }

.messageParentConfirm .modal-content { max-height: 90vh; }
/* Workaround for https://bugs.chromium.org/p/chromium/issues/detail?id=958802
 * (in addition to removing .flexColumn from .modal-content) */
.messageParentConfirm .modal-body { max-height: calc(90vh - 159px); } /* 159px is the measured height of header and footer */
.flexColumn { display: flex; flex-direction: column; }
.flexRow { display: flex; flex-direction: row; }
.flexShrink { min-height: 50px; } /* allow equal-size shrinking height down to 50px */
.scrollbars { overflow: auto; float: none; max-height: 100%; }
.parentArrow { text-align: center; }
.parentArrow div { vertical-align: top; display: inline-block; }
.parentArrow1 { border-left: red dotted 2px; border-bottom: red dotted 2px; height: 14px; width: 15%; }
.parentArrow2 { margin-top: 12px; border-top: red dotted 2px; height: 14px; width: 15%; }
.parentArrow3 { margin-top: 12px; border-top: solid 2px; border-left: solid 2px; height: 14px; width: 15%; }
.parentArrow4 { border-right: solid 2px; border-bottom: solid 2px; height: 14px; width: 15%; }
.parentArrow .fas { margin-top: 5px; }
.parentArrow .fa-times { color: red; }

@media print { /* override Bootstrap defaults for link printing */
  a[href].btn:after { content: ""; }
  a[href].author:after { content: ""; }
  a[href].tagLink:after { content: ""; }
}

/* Based on Github's .markdown-body styling e.g.
 * https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables
 * Plus some special formatting for thead.
 * Also return text-align to left to counteract .message-body's
 * text-align: justify
 */
.message-body table { margin-bottom: 16px; text-align: left; }
.message-body table td, .message-body table th { padding: 6px 13px; border: 1px solid #ddd }
.message-body table tr { background-color: #fff; }
.message-body table tr:nth-child(2n) { background-color: #f8f8f8; }
.message-body table thead tr { background-color: #ccc; }
.dark .message-body table td, .dark .message-body table th { border: 1px solid #444 }
.dark .message-body table tr { background-color: #000; }
.dark .message-body table tr:nth-child(2n) { background-color: #222; }
.dark .message-body table thead tr { background-color: #555; }

blockquote { padding: 5px 10px; }
blockquote.thm { font-size: 17.5px; padding: 10px 20px; }

em em { font-style: normal }
em em em { font-style: italic }
em em em em { font-style: normal }
em em em em em { font-style: italic }
em em em em em em { font-style: normal }

/* Author search highlighting */
.highlight { background: yellow; color: black; }

/* Search results */
.panel-heading .pull-right.badge { margin-top: 2px; }
