.space { padding-left: 0.5em; }

.glyphicon-paperclip { vertical-align: middle; }
.title { font-weight: bold; vertical-align: middle; }
input.title { width: 100%; }
.author { font-style: italic; }
.message-body { text-align: justify; position: relative; }
  /* We set position: relative so any position: absolute's within have
   * this as the containing block.
   */
.message-footer { width: 100%; padding: 0ex 1em; }
.panel-body { padding-bottom: 0px; } /* always have a footer right below */
.message-deleted > .message-body, .message-unpublished > .message-body { opacity: 0.6; }
/*.message-right-buttons { margin: -5px -10px -5px 5px; }*/ /* cf. panel-heading's padding of 10px 15px */
.message > .panel-heading { padding: 5px 5px 5px 10px; }
.root > .panel-heading { padding: 5px 5px 5px 10px; border-bottom: 0px; }
.messageTitle { display: inline-block; padding: 5px 5px 5px 0px; }
.messageTags > a:first-child, .messageLabels > span:first-child { margin-left: 0.5em; }
input.title ~ .message-right-buttons { margin: 0px; }
.message-reply-buttons { margin-right: 1em; margin-bottom: 15px; }
.fileDescription { padding: 0.5ex 0.5em; border-bottom: 1px solid #337ab7;
  display: flex; flex-direction: row;
  justify-content: space-between; align-items: center; }
.fileDescriptionText { flex-grow: 1; }

.previewButtons { padding: 0px 15px; }
.sideBySide { width: 50%; margin: 0px; display: inline-block; }
.previewButtons.sideBySide { float: left; }
.bodyContainer.sideBySide { float: right; height: 300px; overflow: scroll; }
  /* 300px matches .CodeMirror's height */
.ace_editor { width: 100%; height: 20em; }

.children { margin-left: 1em; }

/* Magic to get the entire tag to highlight when hovering over child:
 * http://stackoverflow.com/questions/8114657/how-to-style-the-parent-element-when-hovering-a-child-element#30104683
 */
.tagWithRemove { pointer-events: none; }
.tagRemove { opacity: 0.7; pointer-events: auto; }
.tagWithRemove:hover, .tagLink span:hover { opacity: 1; cursor: pointer;
  color: #333; background: #e6e6e6; } /* matching .btn-default:hover */

.dropdown-menu.tagMenu { width: 250px; }
.dropdown-menu.tagMenu > li.disabled > a {
  cursor: auto; padding: 0px 5px; } /* normally 3px 20px */
.dropdown-menu.tagMenu > li > a { font-size: 75%; } /* matches label */

.dropdown-menu.actionMenu { min-width: 100px; background: rgb(217,237,247); }
.dropdown-menu.actionMenu > li > a { padding: 2px 10px; }
.dropdown-menu.actionMenu > li > a:hover { min-width: 100px; background: white; }

img, video { max-width: 100%; max-height: 100vh; }
.pdfBox { width: 100%; }
.pdf > svg { width: 100%; height: auto; }

.historySlider { margin-left: 5em; margin-right: 5em; }
.slider.slider-horizontal { width: 100%; }

.panel-secondbody { margin-top: -5px; padding-top: 0px; padding-bottom: 15px; }

.save-alert { padding: 6px 15px; margin-left: 1px; margin-bottom: 0px; }

nav.contents { overflow-y: scroll; padding-bottom: 5px; }
.contents > li > a { padding: 5px 5px; }
.subcontents > li > a { font-size: small; padding: 5px 10px; }
/* Purples based on #563d7c from Bootstrap docs */
.subcontents { border-left: solid 2px #8465b3; padding-left: 3px; }
.contents li.active > a { background: #d1c5e2; }
.contents li > a.deleted { color: #a94442; font-size: x-small; padding: 2px 10px; }
.contents li > a.unpublished { color: #8a6d3b; font-size: x-small; padding: 2px 10px; }
.contents li > a.private { color: #5bc0de; }
.contents li > a.minimized { color: #449d44; font-size: small; padding: 3px 10px; }
.affix { top: 0px; }

code.raw { white-space: pre-wrap; color: #333; }  /* match <pre> */
pre { white-space: pre-wrap; }

.root { margin-bottom: 0px; } /* glom onto message below */

.beforeMessageDrop { position: absolute; left: 0px; top: -1ex; width: 100%; height: 2ex; }
.beforeMessageDrop.dragover { z-index: 1;
  background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }
.onMessageDrop.dragover { background-image: linear-gradient(rgba(0,0,0,0), red, rgba(0,0,0,0)); }

.messageParentConfirm .modal-content { max-height: 90vh; }
.flexColumn { display: flex; flex-direction: column; }
.flexRow { display: flex; flex-direction: row; }
.flexShrink { min-height: 50px } /* allow shrinking height down to 50px */
.scrollbars { overflow: auto; float: none; max-height: 100%; }
.parentArrow { text-align: center; }
.parentArrow div { vertical-align: top; display: inline-block; }
.parentArrow1 { border-left: red dotted 2px; border-bottom: red dotted 2px; height: 14px; width: 15%; }
.parentArrow2 { margin-top: 12px; border-top: red dotted 2px; height: 14px; width: 15%; }
.parentArrow3 { margin-top: 12px; border-top: solid 2px; border-left: solid 2px; height: 14px; width: 15%; }
.parentArrow4 { border-right: solid 2px; border-bottom: solid 2px; height: 14px; width: 15%; }
.parentArrow .glyphicon { margin-top: 4px; }
.parentArrow .glyphicon-remove { color: red; }

@media print {
  a[href].btn:after { content: ""; } /* override Bootstrap default */
  a[href].author:after { content: ""; } /* override Bootstrap default */
}

/* Based on Github's .markdown-body styling e.g.
 * https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables
 * Also return text-align to left to counteract .message-body's
 * text-align: justify
 */
.message-body table { margin-bottom: 16px; text-align: left; }
.message-body table td, .message-body table th { padding: 6px 13px; border: 1px solid #ddd }
.message-body table tr { background-color: #ffffff; }
.message-body table tr:nth-child(2n) { background-color: #f8f8f8; }

em em { font-style: normal }
em em em { font-style: italic }
em em em em { font-style: normal }
em em em em em { font-style: italic }
em em em em em em { font-style: normal }

/* Author search highlighting */
.highlight { background: yellow; color: black; }

/* Search results */
.panel-heading .pull-right.badge { margin-top: 2px; }
