template(name='search')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        form.form-inline
          span.title.panel-title= group
          | search for #{formatSearch}
          span.pull-right.badge= messageCountText
      .panel-body
        each messages
          +readMessageHeader
      .panel-footer.clearfix
        i= messageCountText
        | match search query
  else
    +badGroup
