template(name='search')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        form.form-inline
          span.title.panel-title= group
          span.space
          | search for #{formatSearch}
      .panel-body
        each messages
          +readMessageHeader
      .panel-footer.clearfix
        i= messageCount
        | match search query
  else
    +badGroup
