template(name="settings")
  if currentUser
    h1 Settings
    with profile
      table
        tr
          th
            label Preferred message format: 
            span.space
          td
            +formatSelector
        tr
          th
            label Messages initially published:
            span.space
          td
            if autopublish
              button.btn.btn-success.autopublishButton(type="button", data-toggle="button", autocomplete="off") Yes
            else
              button.btn.btn-warning.autopublishButton(type="button", data-toggle="button", autocomplete="off") No
  else
    .alert.alert-danger(role="alert") Please <B>sign in</B> (in the upper-right corner) to change your settings.
