template(name='since')
  if groupData
    .panel.panel-primary
      .panel-heading.clearfix
        form.form-inline
          span.title.panel-title= group
          span.space
          | since
          input(type='text', size='10', value=since).form-control#sinceInput
      .panel-body
        if valid
          each messages
            +readMessage
        else
          .alert.alert-danger(role="alert") Invalid since query.  Examples: "-5 days" or "2016-01-01 15:30" or "0:00".
      if valid
        .panel-footer.clearfix
          i= messageCount
          | messages in this time range
  else
    +badGroup
