template(name='stats')
  if groupData
    +statsGood
  else
    +badGroup

template(name='statsGood')
  h1 Statistics
  h2 Your Statistics
  canvas.yourStats(width="800", height="400")
  h2 Global Statistics
  p
    i [coming soon]
  hr
  p
    i Only showing data about undeleted published messages you can see. Messages are plotted according to their <b>creation date</b>.
