table.users
  table-layout: fixed
  th, td
    text-align: center
    width: 71px
  // First column
  .user, .partialMember > td
    width: auto
    text-align: left
    vertical-align: middle
  .name
    font-weight: bold
  // Crossed-out and final permissions on their own lines
  // (for uniform column widths)
  b, del
    display: block

.createdAt
  font-weight: normal
  font-size: smaller
  font-style: italic
// `tr.partialMemberSep +` increases specificity to overrule table
tr.partialMemberSep + tr.partialMember > td
  padding-left: 2.5em
  padding-top: 0px
  border-top: none

input.limit
  width: 6em !important

// Force inline form, even for small screens
.form-inline
  .input-group
    display: inline-table
    vertical-align: middle  // roughly align with text
    > .form-control
      float: none  // fix vertical alignment
      width: auto
    .input-group-btn
      width: auto
