.createdAt
  font-weight: normal
  font-size: smaller
  font-style: italic
// `tr.partialMemberSep +` increases specificity to overrule table
tr.partialMemberSep + tr.partialMember > td
  padding-left: 2.5em
  padding-top: 0px
  border-top: none
