.meteor/local
*.swp
.backup/coauthor-backup
node_modules
client/bootstrap-slider.min.css
client/katex.min.css
public/timezones.json
public/katex
public/pdf.worker.min.js
server/kadira.js
server/kadira.coffee
