error_page 502 /502.html;
location /502.html {
  add_header Content-Type text/html;
  return 502 '<html>
<head>
  <title>Coauthor is rebooting</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&amp;subset=latin-ext" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body { margin: 30px; font-family: "Merriweather", serif;
           line-height: 1.42857143; font-size: 21px; /*14px*/ }
    /* Based on Bootstrap h1 */
    h1 { margin-top: 20px; margin-bottom: 20px; font-size: 36px; /*36px*/
         font-weight: 500; line-height: 1.1; }
    /* Based on Bootstrap .alert .alert-danger */
    .notice { color: #a94442; background-color: #f2dede; border-color: #ebccd1;
              padding: 15px;
              border: 1px solid transparent; border-radius: 4px;
    }
    /* Based on Bootstrap p */
    p { padding: 0px; margin-top: 11px; margin-bottom: 11px; }
  </style>
</head>
<body>
<h1>Coauthor is restarting</h1>

<div class="notice">
  <p>
  Coauthor is currently restarting, likely to add some features or
  remove some bugs.  See Coauthor&rsquo;s
  <a href="https://github.com/edemaine/coauthor/">Github</a>
  to see what&rsquo;s changed lately.

  <p style="text-align: center">
  <b>Please wait while the server restarts, then reload this page.
  Sorry for the delay!</b>

  <p>
  If you see this message for more than a few minutes,
  please let the server administrator know.
</div>
</body>
</html>';
}
